@CHARSET "UTF-8";

#container {
	margin-left: 3%;
}

#join,#exit,#user {
	padding: 10px 10px;
	display: block;
	border-bottom: 1px;
	padding-left: 30px;
	margin: 5px;
	height: 220px;
}

.PS_li {
	width: 35%;
	height: 150px;
	margin: 5px 10px auto;
	display: inline-block;
	border: 1px;
	border: solid;
	float: left;
	padding: 5px;
	border-color: #BDBDBD;
	text-overflow: ellipsis;
}

#user .PS_li {
	width: 60%;
	height: 100px;
	margin: 10px 10px auto;
}

.PS_inform {
	width: 200px;
	height: 150px;
	margin: 5px 10px auto;
	display: inline-block;
	border-style: solid;
	border-color: #BDBDBD;
	padding: 5px;
}

.PS_inform .inform {
	display: inline-block;
	border-style: solid;
	border-color: #BDBDBD;
	width: 190px;
	height: 110px;
	margin: 2px 3px auto;
	overflow: auto;
	text-overflow: ellipsis;
}

.PS_inform .inform img {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 10px;
}

.PS_inform .inform p {
	display: inline-block;
	margin-left: 2px;
}

.PS_inform .decision {
	margin: 1px 1px auto;
	padding-left: 75px;
}

.PS_li ul {
	list-style: none;
}

.PS_li li {
	
}

.PS_li li a {
	color: #000;
	display: inline-block;
	text-align: center;
	width: 60px;
	margin-top: 5px;
	padding: 0px 0px;
	font: 12px/15px;
	margin-right: 1px;
	text-decoration: none;
}

.PS_li a:hover {
	color: #BDBDBD;
}