@CHARSET "UTF-8";

#container {
	margin-left: 3%;
}

#Request{
	float:left;
	width:650px;
	min-height : 100px;
	border : 1px soloid #ddd;
	
}
#Participant{
	float:left;
	width:650px;
	min-height : 100px;
	border : 1px soloid #ddd;
}
#Report{
	float:left;
	width:650px;
	min-height : 100px;
	border : 1px soloid #ddd;
}