@CHARSET "UTF-8";

#container {
	margin-left: 3%;
}

#Request{

	
}
#Participant{

}
#Report{

}
#accessReq{
	margin-top : 0px;
	margin-bottom : 10px;
	min-width:5px;
	float : left;
}
.access_button{
	float : left;
	margin-right : 10px;
}
.rep_top_label{
	float : left;
	margin-right : 10px;
}
.rep_top_btn{
	float : right;
}
.report_top{
	float:left;
	width : 580px;
}
.report_ban{
	min-height : 30px;
}