@CHARSET "UTF-8";

#main_topic{
	height:200px;
	background-color: #aaaaaa;
}

#debate_border{
	background-color: #bbbbbb;
	height: 800px;
	width: 940px;
	float: left;
}

#debate_border_left{
	background-color: #cccccc;
	height: 800px;
	width: 300px;
	float: left;
}

#debate_border_right{
	background-color: #dddddd;
	width: 640px;
	height: 800px;
	float: left;
}

#sub_topics{
	height: 370px;
	width: 300px;
	overflow: auto;
}
#sub_topics>ul{
	list-style:none;
}
#sub_topics>ul>li{
}
#similer_topics{
	height: 370px;
	width: 300px;
	overflow: auto;
}
#similer_topics>ul{
	list-style:none;
}
#similer_topics>ul>li{
}

#ing_debate{
	width: 640px;
	height: 650px;
}
#opinions{
	padding-left: 0px;
	height: 600px;
	width: 640px;
	overflow: auto;

}
#opinions>ul{
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;

}
#opinions>ul>li{
	padding-left:0px;
	height: 50px;
}
#chat_window{
	height: 150px;
	width: 640px;
}
#chat_bot{
	height: 100px;
	width: 640px;
}
#sub_title{
	background-color: #999999;
	height: 50px;
	width: 640px;
}
.sub_topic{
	
}
.similer_topic{
	
}

.red_opinion{
	/*border: 3px #ff0000 solid;*/
	float: right;
	width: 600px;
	/*max-width: 620px;
	min-width: 400px;*/
	overflow: auto;
}
.blue_opinion{
	float: left;
	/*border: 3px #00f solid;*/
	width: 600px;
	/*min-width: 400px;
	max-width: 620px;*/
	overflow: auto;
}
.opinion{
	width: 530px;
	padding-left: 10px;
	text-align: left;	
}
.opinion>h1{
		
}

.op_prof{
	width: 70px;
	min-height: 80px;
}
.prof_btn{
	width: 70px;
	height: 20px;
	float: left;
}
.prof_mini{
	width : 70px;
	height : 0.75em;
  	background-image: url("../img/prof_none.png");
  	background-position: 10px 0.1em;
}
.mid_opinion{
	float: left;
	/*border: 3px #f0f solid;*/
	width: 640px;
	vertical-align: middle;
	text-align: center;
}
.marg_left{
	margin-left: 10px;
}
.submit_btn{
	margin-top: 1em;
	margin-left: 0.5em;
}
