@CHARSET "UTF-8";

#main_topic{
	height:200px;
	background-color: #aaaaaa;
}

#debate_border{
	background-color: #bbbbbb;
	height: 800px;
	width: 940px;
	float: left;
}

#debate_border_left{
	background-color: #cccccc;
	height: 800px;
	width: 300px;
	float: left;
}

#debate_border_right{
	background-color: #dddddd;
	width: 640px;
	height: 800px;
	float: left;
}

#sub_topics{
	height: 370px;
	width: 300px;
}
#sub_topics>ul{
	list-style:none;
}
#sub_topics>ul>li{
}
#similer_topics{
	height: 370px;
	width: 300px;
	
}
#similer_topics>ul{
	list-style:none;
}
#similer_topics>ul>li{
}

#ing_debate{
	width: 940px;
	height: 700px;
}
#opinions{
	padding-left: 0px;
	height: 500px;
	width: 640px;

}
#opinions>ul{
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;

}
#opinions>ul>li{
	padding-left:0px;
	height: 50px;
}
#chat_window{
	height: 100px;
	width: 640px;
}

#sub_title{
	background-color: #999999;
	height: 50px;
	width: 640px;
}
.sub_topic{
	
}
.similer_topic{
	
}
.opinion{
	
}
.red_opinion{
	border: 3px #ff0000 solid;
	float: right;
	margin-right: 2px;
	max-width: 620px;
	min-width: 400px;
	overflow: auto;
}
.blue_opinion{
	float: left;
	border: 3px #00f solid;
	margin-left: 2px;
	min-width: 400px;
	max-width: 620px;
	overflow: auto;
}
.mid_opinion{
	float: right;
	margin-left: 2px;
	border: 3px #f0f solid;
	width: 630px;
}
.marg_left{
	margin-left: 10px;
}
.submit_btn{
}
