@CHARSET "UTF-8";

label.name {
	margin : 4px;
	display:inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;font-weight:normal;line-height:20px;
}

#contents {
	margin-left: 3%;
}

#regist{
	display:block;
	margin-top : 10px;
	margin-left:50%;
}

#sub_subject table {
	border:0px; border-collapse:collapse; padding:30px; border-spacing:30px;
}
.dateinform{
	padding-top: 40px;
}
.date{
	margin-right : 10px;
	padding-left : 10px;
	display: inline-block;
}
.tags {
	width: 500px;
}
.short{
	width: 80px;
}
.tag{
	width: 57px;
}