@CHARSET "UTF-8";

#profile{
	font-size:15px;
	line-height:25px;
	margin-bottom:50px;
	width:700px;
}

#profile #left{
	float:left;
	width:500px;
	height:300px;
	padding:5px 10px;
	border:1px solid #ddd;
}
#profile #left textarea {
	width:470px;
	height:70px;
	margin:5px;
}
#profile #left .concern1 {
	margin-top:15px;
	width:135px;
}
#profile #left .concern2 {
	margin-top:15px;
	width:135px;
}
#profile #left span{
	font-weight:bold;
	margin-right:10px;
}

#profile #left .btn{
	float : right;
	margin: 15px 10px 5px 5px;
}

#profile #right{
	float : left;
	width:150px;
	height:300px;
	padding:5px 10px;
	margin-left:5px;
	border:1px solid #ddd;
}
#profile #right span{
	font-weight:bold;
}

#profile #right h5{
	margin:30px;
}

#profile #right img{
	border:1px solid #ddd;
	witdh:135px;
	height:135px;
}
#profile #bottom{
	margin-top:10px;
	padding:25px;
	float:left;
	width:650px;
	border:1px solid #ddd;
}

#profile #bottom span{
	margin-bottom:10px,5px;
	font-size:15px;
	line-height:25px;
	font-weight:bold;
}
#profile #Follower{
	float:left;
	margin-top:20px;
	width:100%;
}
#profile #Follower #information{
	float:left;
	margin-top:30px;
	width:100%;
	height:50px;
}
#profile #Follower .miniPorofile{
	float:left;
	margin:5px;
	width:310px;
	height:50px;
	border:1px solid #d7e9f9;
}
#profile #Follower .miniPorofile .miniPhoto{
	float : left;
	width:50px;
	height:50px;
}
#profile #Follower .miniPorofile .inform{
	float : left;
	margin-left:15px;
	height:50px;
}