@CHARSET "UTF-8";

#timeline{
	font-size:15px;
	line-height:25px;
	margin-bottom:50px;
	width:700px;
}
#timeline #top{
	width:650px;
	height:100px;
	padding:20px;
	border:1px solid #d7e9f9;
	margin-bottom:20px;
}
#timeline #top img{
	float:left;
	margin-right:20px;
	width:80px;
	height:80px;
}
#timeline #top h1{
	float:left;
	width:520px;
}
#timeline #top p{
	float:left;
}
#timeline #bottom{
	width:650px;
	padding:20px 30px 20px 10px;
	border:1px solid #d7e9f9;
}

#timeline>#bottom>ul{
	list-style:none;
}
#timeline>#bottom>ul>li{
	padding:10px 10px 30px 10px;
	border:1px solid #d7e9f9;
	margin-bottom:10px;
}
