<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.EducationListMapper">
	<select id="selectEducationCount" resultType="_int" parameterType="string">
		select count(*) from Education_list where education = #{education}
	</select>
	<insert id="insertEducation" useGeneratedKeys="true" keyProperty="education_id" parameterType="string">
		insert into Education_list(education) values(#{education})
	</insert>
</mapper>