<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MainTopicMapper">
    <resultMap type="MainTopic" id="mtResultMap">
    </resultMap>
    <select id="getMainTopic" parameterType="int" resultType="MainTopic">
        select * from MainTopic where mt_id = #{mt_id}
    </select>
</mapper>