<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MainTopicMapper">
	<resultMap type="MainTopic" id="mtResultMap">
	</resultMap>
	<select id="getMainTopic" parameterType="int" resultType="MainTopic">
		select * from MainTopic where mt_id = #{mt_id}
	</select>

	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM MainTopic
	</select>
	
	<select id="getHotTopics" resultType="MainTopic">
		SELECT * FROM MainTopic 
		ORDER BY (agree+disagree) DESC
		LIMIT #{to}, #{number}
	</select>
	
	<select id="getLatelyTopics" resultType="MainTopic">
		SELECT * FROM MainTopic 
		ORDER BY date DESC
		LIMIT #{to}, #{number}
	</select>
		
	<select id="getTitleSearchTotal" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM MainTopic
		<!-- WHERE mt_title LIKE '%'#{searchText}'%' -->
		WHERE mt_title LIKE CONCAT('%',#{searchText},'%')
	</select>
	
	<select id="getTagSearchTotal" parameterType="String" resultType="int">
		SELECT COUNT(DISTINCT mt_id)
		FROM MainTopic natural join MainTopic_TopicTag natural join TopicTag
		WHERE tag LIKE CONCAT('%',#{searchText},'%')
	</select>
	
	<select id="getTitleSearchTopics" resultType="MainTopic">
		SELECT * FROM MainTopic 
		WHERE mt_title LIKE CONCAT('%',#{searchText},'%')
		LIMIT #{to}, #{number}
	</select>
	
	<select id="getTagSearchTopics" resultType="MainTopic">
		SELECT DISTINCT mt_title,agree,disagree,date,m_close,mt_id,e_mail 
		FROM MainTopic natural join MainTopic_TopicTag natural join TopicTag
		WHERE tag LIKE CONCAT('%',#{searchText},'%')
		LIMIT #{to}, #{number}
	</select>
	
	<select id="getTimeline" parameterType="String" resultType="Timeline">
		SELECT m.*, p.request, p.flag, p.p_date FROM Participant p, MainTopic m
		WHERE m.mt_id = p.mt_id and p.e_mail=#{email}
		ORDER BY p_date DESC;
	</select>
	
</mapper>