<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OpinionMapper">
  <resultMap type="Opinion" id="opResultMap">
  	
  </resultMap>
  <select id="getOpinions" parameterType="Opinion" resultType="Opinion">
    select * from Opinion where sub_id = #{sub_id} and mt_id = #{mt_id} order by opinion_id asc;
  </select>
  <select id="getOPs" parameterType="Opinion" resultType="Opinion">
      select * from Opinion join (select User.e_mail,User.name,User.photo,Participant.flag from User join Participant on User.e_mail = Participant.e_mail and Participant.mt_id = #{mt_id}) a on a.e_mail = Opinion.e_mail and Opinion.mt_id=#{mt_id} and Opinion.sub_id=#{sub_id} order by opinion_id asc
  </select>
</mapper>