<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OpinionMapper">
  <resultMap type="Opinion" id="opResultMap">
  	
  </resultMap>
  <select id="getOpinions" parameterType="Opinion" resultType="Opinion">
    select * from Opinion where sub_id = #{sub_id} and mt_id = #{mt_id} order b
  </select>
</mapper>