<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
  <resultMap type="User" id="userResultMap">
  	<id column="e_mail" property="email"/>
  </resultMap>
  <select id="selectUser" parameterType="String" resultMap="userResultMap">
   select * from user natural join user_education_list natural join education_list where e_mail = #{email}
  </select>
  <select id="selectUserConcern" resultMap="userResultMap">
  	select * from user natural join user_education_list natural join education_list where e_mail = #{email}
  </select>
</mapper>