<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

	<resultMap type="User" id="userResultMap">
		<id column="e_mail" property="email" />
		<collection property="interestList" javaType="ArrayList"
			column="e_mail" ofType="Interest" select="selectUserInterest" />
	</resultMap>
	
	<resultMap type="User" id="followerResultMap">
		<id column="e_mail" property="email" />
	</resultMap>

	<select id="selectUser" parameterType="String" resultMap="userResultMap">
		SELECT * FROM User 
		WHERE e_mail = #{email}
	</select>

	<select id="selectUserInterest" resultType="Interest">
		SELECT interest,e_mail 
		FROM User_Interest_list NATURAL JOIN Interest_list
		WHERE e_mail = #{email}
	</select>
	
	
	<select id="selectAllUser" resultMap="userResultMap">
		SELECT * FROM User
	</select>
	
	<select id="getUsersDebate" resultType="int">
		select MainTopic.mt_id
		from MainTopic join User on User.e_mail =
		MainTopic.e_mail where
		MainTopic.m_close = "O" and MainTopic.e_mail =
		#{e_mail}
	</select>
	
	<select id="getNowTopic" parameterType="String" resultType="String">
		select mt_title, mt_id from MainTopic where e_mail=#{email} AND m_close="O";
	</select>
	
	<select id="getDebateUsers" parameterType="int" resultMap="userResultMap">
		select * from User join Participant on User.e_mail =
		Participant.e_mail and Participant.mt_id = #{mt_id}
	</select>

	<insert id="insertUser" parameterType="User">
		insert into
		User(e_mail,name,say,photo,honor,dishonor)
		values(#{email},#{name},#{say},#{photo},#{honor},#{dishonor})
	</insert>
	
	<update id="updateUserSay" parameterType="User">
		UPDATE User SET say=#{say} WHERE e_mail = #{email}
	</update>
	
	<delete id="deleteInterests" parameterType="User">
		DELETE FROM User_Interest_list 
		WHERE e_mail = #{e_mail}
	</delete>
	
	<insert id="insertInterest">
		INSERT INTO User_Interest_list(e_mail,interest_id)
		VALUES(#{e_mail},#{interest_id})
	</insert>
	
	<select id="getFollowerList" parameterType="String" resultMap="followerResultMap">
		SELECT u.e_mail, u.name, u.photo FROM User u, Following_list f
		WHERE  u.e_mail = f.e_mail and f.following = #{email} 
	</select>
	
	<insert id="insertFollower">
		INSERT INTO Following_list(e_mail,following)
		VALUES(#{e_mail},#{following})
	</insert>
	
	<delete id="deleteFollower">
		DELETE FROM Following_list 
		WHERE e_mail = #{e_mail} and following = #{following}
	</delete>
	<update id="disPP" parameterType="String">
	    update User set dishonor=dishonor+1 where e_mail=#{e_mail}
	</update>
	<update id="honorPP" parameterType="String">
	    update User set honor=honor+1 where e_mail=#{e_mail}
	</update>
	<update id="honorMM" parameterType="String"> 
	    update User set honor=honor-1 where e_mail=#{e_mail}
	</update>
	
</mapper>