<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

  <resultMap type="User" id="userResultMap">
  	<id column="e_mail" property="email"/>
  	<collection property="interestList" javaType="ArrayList" column="e_mail" ofType="String" select="selectUserInterest"/>
  </resultMap>

  <select id="selectUser" parameterType="String" resultMap="userResultMap">
   select * from User natural join User_Education_list natural join Education_list 
   where e_mail = #{email}
  </select>

 <select id="selectAllUser" resultMap="userResultMap">
  	select * from User
  </select>
  
  <select id="selectUserInterest" resultType="String">
  	select interest, e_mail from User_Interest_list natural join Interest_list 
	where e_mail = #{email}
  </select>

</mapper>